# ─── Configuracion de nodos SGCM ───────────────────
# Copia este archivo como .env y ajusta las IPs
#
# Cada miembro del equipo configura su IP local como 127.0.0.1
# y las IPs Hamachi de los demas companeros.
# ────────────────────────────────────────────────────

# Nodo 1 — Recepcion (Francisco)
NODO1_HOST=127.0.0.1
NODO1_PORT=3306
NODO1_USER=bdd_user
NODO1_PASS=Sgcm2026#
NODO1_DB=sgcm_nodo1

# Nodo 2 — Medicos (Axel)
NODO2_HOST=25.19.18.201
NODO2_PORT=3306
NODO2_USER=bdd_user
NODO2_PASS=Sgcm2026#
NODO2_DB=sgcm_nodo2

# Nodo 3 — Farmacia (Elmer)
NODO3_HOST=25.33.183.45
NODO3_PORT=3306
NODO3_USER=bdd_user
NODO3_PASS=Sgcm2026#
NODO3_DB=sgcm_nodo3

# Nodo 4 — Administracion (Jorge)
NODO4_HOST=25.4.227.153
NODO4_PORT=3306
NODO4_USER=bdd_user
NODO4_PASS=Sgcm2026#
NODO4_DB=sgcm_nodo4

# Nodo 5 — Reportes (Oscar)
NODO5_HOST=25.22.219.100
NODO5_PORT=3306
NODO5_USER=bdd_user
NODO5_PASS=Sgcm2026#
NODO5_DB=sgcm_nodo5
